<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card primary-cad">
                <div class="card-header">
                    <h3 class="card-title"> Selección de fermentador</h3>
                </div>
                <form id="form-select-ferm">
                    <div class="card-body">
                        <div class="form-group col-md-8" id="select-ferm-group">
                            <select class="form-control form-control-sx" id="select-ferm" required>
                            </select>
                            <button type="submit" class="btn btn-primary btn-xs mb-1 ml-3">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>